.el-site-header {
  // min-height: 7rem;
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .25rem .3rem rgba(#000, .4);

  &__wrapper {}

  &__map {
    &--list {
      display: flex;
      align-items: center;
    }

    &--item {
      cursor: pointer;
      transition: background .3s;

      &[data-current="true"] {
        pointer-events: none;
        background: linear-gradient(var(--header-color), rgba(#eee, .3));

        span {
          color: #eee;
        }
      }

      a {
        text-decoration: none;
        display: block;
        padding: 2rem;
      }

      span {
        font-weight: 600;
        font-size: 1.5rem;
        color: rgba(#eee, .8);
      }

      &:hover {
        background: rgba(#eee, .3);

        span {
          color: #eee;
        }
      }
    }
  }
}