.el-change-grid {
  width: fit-content;
  position: relative;

  button {
    background-color: #fff;
    padding: 1rem;
    color: #000;
    width: 100%;
    border-radius: .4rem;
    box-shadow: 0 .5rem .5rem rgba(#000, .2);
    opacity: 1;
    transition: box-shadow .3s, opacity .3s;

    &:hover {
      opacity: .8;
    }

    &:active {
      margin-top: 0.2rem;
      box-shadow: 0 .1rem .3rem rgba(#000, .2);
    }
  }
}