// @import './canvas.base';

.el-main-container {
  min-height: 800px;
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.whiteboard {
  background-color: transparent !important;

  #concat,
  #image1 {
    display: none;
  }
}